USE [master]
GO
/****** Object:  Database [Esercizio1]    Script Date: 24/02/2025 14:53:24 ******/
CREATE DATABASE [Esercizio1]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Esercizio1', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\Esercizio1.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Esercizio1_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\Esercizio1_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Esercizio1].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Esercizio1]
GO
/****** Object:  Table [dbo].[Cantieri]    Script Date: 24/02/2025 14:53:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cantieri](
	[CantiereidCantiere] [uniqueidentifier] NOT NULL,
	[DenominazioneCantiere] [varchar](50) NOT NULL,
	[Indirizzo] [varchar](50) NOT NULL,
	[Citta] [varchar](50) NOT NULL,
	[CAP] [int] NOT NULL,
	[PersonaRiferimento] [varchar](20) NOT NULL,
	[DataInizioLavori] [datetime] NOT NULL,
	[DataFineLavori] [datetime] NULL,
	[LavoriTerminati] [bit] NULL,
 CONSTRAINT [PK_Cantieri] PRIMARY KEY CLUSTERED 
(
	[CantiereidCantiere] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Clienti]    Script Date: 24/02/2025 14:53:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Clienti](
	[IdCliente] [uniqueidentifier] NOT NULL,
	[Nome] [varchar](20) NOT NULL,
	[Cognome] [varchar](20) NOT NULL,
	[DataNascita] [datetime] NOT NULL,
	[Sesso] [bit] NOT NULL,
	[CF] [varchar](12) NOT NULL,
	[P_IVA] [varchar](50) NOT NULL,
	[Attivo] [bit] NOT NULL,
	[Saldo] [decimal](7, 2) NOT NULL,
 CONSTRAINT [PK_Cliente] PRIMARY KEY CLUSTERED 
(
	[IdCliente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Operai]    Script Date: 24/02/2025 14:53:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Operai](
	[IdDipendente] [uniqueidentifier] NOT NULL,
	[Nome] [varchar](20) NOT NULL,
	[Cognome] [varchar](20) NOT NULL,
	[CF] [varchar](12) NOT NULL,
	[FigliACarico] [int] NULL,
	[Sposato] [bit] NOT NULL,
	[LivelloLavorativo] [varchar](50) NOT NULL,
	[DescrizioneMansione] [varchar](500) NOT NULL,
	[Salario] [decimal](7, 2) NOT NULL,
 CONSTRAINT [PK_Operaio] PRIMARY KEY CLUSTERED 
(
	[IdDipendente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
USE [master]
GO
